In [110]:
from __future__ import division
import pandas as pd
import numpy as np

churn_df = pd.read_csv('../Data/train_set.csv')
col_names = churn_df.columns.tolist()

print(col_names)
to_show = col_names[:6] + col_names[-6:]

print("\nSample data:")
churn_df[:].head(6)

['id', 'days_since_signup', 'days_since_job_created', 'days_since_client_created', 'days_since_invoice_created', 'days_since_quote_created', 'country', 'industry', 'industry_category', 'added_user_count', 'accepted_added_user_count', 'job_count', 'client_count', 'invoice_count', 'quote_count', 'call_count', 'chat_count', 'demo_count', 'interaction_count', 'activity_count', 'note_count', 'last_nps_score', 'last_activity_type', 'days_since_activity_event', 'custom_field_count', 'property_custom_field_count', 'percent_added_users_accepted', 'days_since_interaction', 'approx_days_since_any_user_login', 'mobile_signup', 'campaign_group', 'campaign_string', 'engagement_score', 'days_since_basic_task_completed', 'days_since_payment_recieved', 'days_since_epayments_used', 'time_sheet_entries_used', 'users_logged_in', 'synced_to_quickbooks', 'phone_number', 'cancellation_request', 'account_value', 'plan_code', 'annual_plan', 'renewed', 'year', 'month']

Sample data:

,id,days_since_signup,days_since_job_created,days_since_client_created,days_since_invoice_created,days_since_quote_created,country,industry,industry_category,added_user_count,...,users_logged_in,synced_to_quickbooks,phone_number,cancellation_request,account_value,plan_code,annual_plan,renewed,year,month
0,419,195,139.0,139.0,36.0,145.0,United States,Lawn Care & Lawn Maintenance,Green Industry,0,...,True,False,True,False,39.0,jobber_basic_subscription_39,False,True,2014,12
1,420,316,41.0,10.0,10.0,28.0,United States,Pressure Washing Service,Cleaning,0,...,True,True,True,False,48.0,jobber_basic_subscription_39,False,False,2014,12
2,422,310,21.0,14.0,21.0,14.0,United States,Pressure Washing Service,Cleaning,4,...,False,True,True,False,58.0,jobber_basic_subscription_39,False,True,2014,12
3,424,274,97.0,76.0,NaN,214.0,Other,Residential Cleaning,Cleaning,15,...,True,True,True,True,NaN,jobber_basic_subscription_39,False,False,2014,12
4,425,171,NaN,42.0,42.0,42.0,United States,Residential Cleaning,Cleaning,0,...,True,True,False,True,NaN,jobber_basic_subscription_39,False,False,2014,12
5,426,287,NaN,NaN,NaN,NaN,United States,Other,Other,1,...,False,True,False,False,48.0,jobber_basic_subscription_39,False,False,2014,12

In [111]:
# Isolate target data
churn_result = churn_df['renewed']
y = churn_result.astype(int)


# Drop the result from training data 
to_drop = ['id', 'renewed']
churn_df = churn_df.drop(to_drop,axis=1)


# Identify True/False features 
tf_features = [col for col in features.tolist() if type(churn_df[col][0]) == np.bool_]

# Convert other T/F data to 1/0
churn_df[tf_features] = churn_df[tf_features].astype(int)

# Extract Features 
features = churn_df.columns

churn_df[:].head(6)

KeyError: 'id'

Ways to Preprocess Data (Brainstorming):
1. Put country/plan_code in distribution of most to least common...something with the mode 
2.

In [90]:
country2int = dict(enumerate(set(churn_df['country'])))
industry2int = dict(enumerate(set(churn_df['industry'])))
category2int = dict(enumerate(set(churn_df['industry_category'])))
plancode2int = dict(enumerate(set(churn_df['plan_code'])))
cgroup2int = dict(enumerate(set(churn_df['campaign_group'])))
cstr2int = dict(enumerate(set(churn_df['campaign_string'])))

int2country = {v: k for k, v in country2int.items()}
int2industry = {v: k for k, v in industry2int.items()}
int2category = {v: k for k, v in category2int.items()}
int2plancode = {v: k for k, v in plancode2int.items()}
int2cgroup = {v: k for k, v in cgroup2int.items()}
int2cstr = {v: k for k, v in cstr2int.items()}

churn_df['country'] = [int2country[i] for i in churn_df['country']]
churn_df['industry'] = [int2industry[i] for i in churn_df['industry']]
churn_df['industry_category'] = [int2category[i] for i in churn_df['industry_category']]
churn_df['plan_code'] = [int2plancode[i] for i in churn_df['plan_code']]
churn_df['campaign_group'] = [int2cgroup[i] for i in churn_df['campaign_group']]
churn_df['campaign_string'] = [int2cstr[i] for i in churn_df['campaign_string']]

churn_df['account_value'] = churn_df['account_value'].replace(np.nan, 0)
churn_df = churn_df.replace(np.nan, 100000000)
churn_df[:].head(6)

,id,days_since_signup,days_since_job_created,days_since_client_created,days_since_invoice_created,days_since_quote_created,country,industry,industry_category,added_user_count,...,time_sheet_entries_used,users_logged_in,synced_to_quickbooks,phone_number,cancellation_request,account_value,plan_code,annual_plan,year,month
0,419,195,139.0,139.0,36.0,145.0,1,42,0,0,...,0,1,0,1,0,39.0,2,0,2014,12
1,420,316,41.0,10.0,10.0,28.0,1,9,3,0,...,0,1,1,1,0,48.0,2,0,2014,12
2,422,310,21.0,14.0,21.0,14.0,1,9,3,4,...,1,0,1,1,0,58.0,2,0,2014,12
3,424,274,97.0,76.0,100000000.0,214.0,2,46,3,15,...,1,1,1,1,1,0.0,2,0,2014,12
4,425,171,100000000.0,42.0,42.0,42.0,1,46,3,0,...,0,1,1,0,1,0.0,2,0,2014,12
5,426,287,100000000.0,100000000.0,100000000.0,100000000.0,1,34,5,1,...,0,0,1,0,0,48.0,2,0,2014,12

In [91]:
#Convert data to np array 
X = churn_df.as_matrix().astype(np.float)
print(X)

[[  4.19000000e+02   1.95000000e+02   1.39000000e+02 ...,   0.00000000e+00
    2.01400000e+03   1.20000000e+01]
 [  4.20000000e+02   3.16000000e+02   4.10000000e+01 ...,   0.00000000e+00
    2.01400000e+03   1.20000000e+01]
 [  4.22000000e+02   3.10000000e+02   2.10000000e+01 ...,   0.00000000e+00
    2.01400000e+03   1.20000000e+01]
 ...,
 [  2.98300000e+03   6.30000000e+01   2.40000000e+01 ...,   0.00000000e+00
    2.01600000e+03   6.00000000e+00]
 [  2.98400000e+03   4.08000000e+02   2.90000000e+02 ...,   1.00000000e+00
    2.01600000e+03   6.00000000e+00]
 [  2.98600000e+03   3.04000000e+02   9.00000000e+01 ...,   0.00000000e+00
    2.01600000e+03   6.00000000e+00]]

In [92]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)

print("Feature space holds %d observations and %d features" % X.shape)
print("Unique target labels:", np.unique(y))

Feature space holds 3081 observations and 46 features
Unique target labels: [0 1]

In [93]:
from sklearn.cross_validation import KFold

def run_cv(X,y,clf_class,**kwargs):
    # Construct a kfolds object
    kf = KFold(len(y),n_folds=5,shuffle=True)
    y_pred = y.copy()

    # Iterate through folds
    for train_index, test_index in kf:
        X_train, X_test = X[train_index], X[test_index]
        y_train = y[train_index]
        # Initialize a classifier with key word arguments
        clf = clf_class(**kwargs)
        clf.fit(X_train,y_train)
        y_pred[test_index] = clf.predict(X_test)
    return y_pred

In [1]:
from sklearn.svm import SVC

def accuracy(y_true,y_pred):
    # NumPy interprets True and False as 1. and 0.
    return np.mean(y_true == y_pred)

print("Support vector machines:")
print("%.3f" % accuracy(y, run_cv(X,y,SVC)))

ImportError: cannot import name 'MLPClassifier'